<body style="background-image: url('{{backgroundImg}}');">
<section class="m-5">
    <h3>{{title}}</h3>
    <div class = "avatarPage">

    <p><img src="{{pic}}" alt="avatar" height="100px"></p><p>Feel free to reach me out!</p>
    </div>
<p>Contact: {{contact}}</p>
</section>
</body>